.LoadingTitle, .AuthorTitle, .Titles, .CheckBoxForm{
    color: #F4A261;
}

.ErrorLabel{
    color: #E76F51;
}

.Form{
    color: #F4A261;
    background-color: #3A5D63;
    border-radius: 60;
    margin-bottom: 5;
}

.LoadingSpinner{
    color: #E9C46A;
}

.Background{
    background-color: #264653;
}
