.LoadingTitle, .AuthorTitle, .Titles, .CheckBoxForm{
    color: #F4A261;
}

.ErrorLabel{
    color: #E76F51;
}

.Form{
    color: #F4A261;
    background-color: #3A5D63;
    border-radius: 60px;
}

.Form:disabled{
    background-color: #000000;
}

.BottomMargin{
    margin-bottom: 5px;
}

.Form:hover{
    color: #000000;
}

.LoadingSpinner{
    color: #E9C46A;
}

.Background{
    background-color: #264653;
}
